/* button component */
.button {
  background-color: var(--textSecondary);
  color: var(--textColor);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0px;
  letter-spacing: 1px;
}

.button:hover {
  background: var(--itemBgColor);
  color: var(--textSecondary);
}

.button:hover span {
  color: #fff;
}
.button.next{
  background-color: var(--itemBgColor);
  margin-right: 10px;
}
.button.next span{
  color: var(--textSecondary);
}
.button.next:hover{
  background-color: var(--bodyBgColor);

}
.button.next:hover span{
  color: var(--textColor);
}