@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "DhaleshwariNormal";
  src: url("/assets/fonts/DhaleshwariNormal.ttf") format("truetype");
  font-weight: normal; /* or bold */
  font-style: normal; /* or italic */
}

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
  --primaryColor: #05ccd1;
  --secondaryColor: #ff842f;
  --bodyBgColor: #cef7f1;
  --itemBgColor: #0fd9dd;
  --textColor: #00497b;
  --textSecondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--textColor);
  font-family: "DhaleshwariNormal", sans-serif;
  transition: all 0.5s;
}

body {
  font-family: "DhaleshwariNormal", sans-serif;
  background-color: var(--bodyBgColor);
  background: url("./assets/images/q-bg.png") repeat center center / auto;
}

a {
  text-decoration: none;
  color: var(--secondaryColor);
}

h4 {
  color: #7c83a7;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 10px;
}

.info {
  margin-top: 1rem;
  text-align: center;
}

.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 1023px) {
  .column {
    grid-template-columns: 1fr;
  }
}

/* layout component */
.main {
  width: 100%;
  padding: 4rem 0;
}

.container {
  width: 90%;
  margin: 2rem auto;
}
